---
import EventCard from "./EventCard";

import jumanjiSrc from "../assets/events/jumanji.png";
import arewealoneSrc from "../assets/events/arewealone.png";
import cytokineSrc from "../assets/events/cytokine.png";
import aquashellSrc from "../assets/events/aquashell.png";
import epicureanSrc from "../assets/events/epicurean.png";

import { Image } from "astro:assets";
---

<div class="flex flex-wrap justify-center gap-4 w-5/6 mb-10">
  <EventCard title="ARE WE ALONE?" client:load>
    <div slot="description">
      For the first time, the Biotechnology Department presents a "Dark Theme"
      event. Dive into a world of suspense exploring the unknown, from life
      beyond Earth to bioluminescent creatures. Engage in discussions and
      puzzles that blur the lines between science and the supernatural. Are we
      truly alone, or is there something lurking just beyond our perception?
      <div class="text-center font-semibold py-3">
        Round 1 "The Hunt For Stranger Things"
      </div>
      <p>
        Dive into a thrilling treasure hunt, where the mysteries of
        biotechnology await to be uncovered in the shadows of the unknown.
      </p>
      <div class="text-center font-semibold py-3">
        Round 2 "Genetics Genius: The Science Showdown"
      </div>
      <p>
        Test your knowledge in our quiz on CRISPR, gene therapy, cloning, and
        bioluminescence! Within the time frame, challenge yourself with
        cutting-edge science questions and see if you can come out on top.
      </p>
      <div class="text-center font-semibold py-3">Round 3 "Escape Room"</div>
      <p>
        Dive into the challenge of our Escape Room! Work with your team to solve
        intricate puzzles and uncover hidden clues before time runs out. Can you
        crack the code and make it out in time?
      </p>
    </div>
    <Image
      slot="imgComponent"
      src={arewealoneSrc}
      alt="BIOVIZTA'2K24 ARE WE ALONE event logo"
      class="rounded-lg"
      width={300}
      quality={100}
      densities={[1, 1.5, 2, 3, 4]}
    />
  </EventCard>
  <EventCard title="JUMANJI: INTO THE WILDERNESS" client:load>
    <div slot="description">
      Welcome to Jumanji!! Embark on an adventure into the wild where nature and
      science collide in a whirlwind of fun and discovery. Dive into a series of
      exciting games that immerse you in the wonders of plant life and
      evolution. Uncover the secrets of plant chemistry, explore the mysteries
      of sustainable forestry, and marvel at the latest biotech innovations.
      Join us for an unforgettable experience filled with thrilling, interactive
      activities and unforgettable fun!

      <div class="text-center font-semibold py-3">
        Round 1: "Snakes and Dragons"
      </div>
      <p>
        Conquer the jungle by answering questions to climb up with dragons or
        evade snake bites. Navigate the dangers and emerge victorious.
      </p>

      <div class="text-center font-semibold py-3">
        Round 2: "Mystery in the wild: Guess who?"
      </div>
      <p>
        One adventurer gives clues for a secret word. Will your team decode it,
        or will the jungle's magic keep it hidden?
      </p>
      <div class="text-center font-semibold py-3">
        Round 3: "Jumanji: Treasure Hunt "
      </div>
      <p>
        Solve puzzles and follow clues in a treacherous jungle to uncover hidden
        treasures. . Race through thrilling challenges, decode clues, dodge
        hidden traps, and find the elusive treasure prize!
      </p>
    </div>
    <Image
      slot="imgComponent"
      src={jumanjiSrc}
      alt=`BIOVIZTA'2K24 JUMANJI: INTO THE WILDERNESS event logo`
      class="rounded-lg"
      width={300}
      quality={100}
      densities={[1, 1.5, 2, 3, 4]}
    />
  </EventCard>
  <EventCard title="CYTOKINE CRUSADERS" client:load>
    <div slot="description">
      <p>
        The Cytokine Crusaders invite you to embark on a thrilling journey
        through the intricate world of immunology. Discover how your body's
        defense mechanisms work to protect you from diseases. Through engaging
        activities, and interactive models, we'll explore the fascinating world
        of antibodies, white blood cells, and other immune defenders. Discover
        how your body fights off infections and stays healthy.
      </p>

      <p>
        Whether you're curious about allergies, autoimmune diseases, or simply
        want to learn how to stay healthy, this sub-event offers something for
        everyone. Come join us and discover the amazing power of your immune
        system!
      </p>
      <div class="text-center font-semibold py-3">
        Round 1: "Allergy Assault"
      </div>
      <p>
        Brace yourself for a barrage of challenging questions designed to
        uncover how well you understand the body's defenses against common
        allergens. Quick thinking and precise answers are key to conquering this
        allergen battleground!
      </p>
      <div class="text-center font-semibold py-3">
        Round 2: "Immune Synapse"
      </div>
      <p>
        Dive into the world of immune cells, signaling pathways, and molecular
        interactions as you connect the dots through clever analogies. This
        round test both your understanding and creativity in linking the complex
        mechanisms of the immune system.
      </p>
      <div class="text-center font-semibold py-3">Round 3: "T Cell Turbo"</div>
      <p>
        In this fast-paced rapid-fire round, you'll be bombarded with questions
        about the fascinating world of immunology. From innate immunity to
        adaptive immunity, you'll have to think quickly and accurately to
        conquer this challenge.
      </p>
    </div>
    <Image
      slot="imgComponent"
      src={cytokineSrc}
      alt="BIOVIZTA'2K24 CYTOKINE CRUSADERS event logo"
      class="rounded-lg"
      width={300}
      quality={100}
      densities={[1, 1.5, 2, 3, 4]}
    />
  </EventCard>
  <EventCard title="AQUASHELLA SURFERS" client:load>
    <div slot="description">
      <p>
        Dive into the depths of marine exploration at AquaShella Surfers, a
        dynamic symposium dedicated to the wonders of ocean biology. This event
        brings students together for an engaging day of competitions,
        discussions, and fun centered around marine ecosystems. Join us for an
        opportunity to learn about the latest advancements in marine science,
        network with experts in the field. Whether you're passionate about
        marine biology or just curious about the ocean, AquaShella Surfers
        offers an enriching experience for all.
      </p>
      <div class="text-center font-semibold py-3">
        Round 1: "Full of Rebuttal"
      </div>
      <p>
        A group of 2 or 3 members will be tasked with "Turning waste into value"
        by innovatively repurposing discarded materials to create valuable
        products or resources related to the marine theme.
      </p>
      <div class="text-center font-semibold py-3">Round 2: "Bioscribe"</div>
      <p>
        A drawing-based game where players take turns illustrating a word or
        phrase without using letters or numbers, while their team tries to guess
        what it is within a time limit.
      </p>
      <div class="text-center font-semibold py-3">
        Round 3: "Sharks and Submarines"
      </div>
      <p>
        A board game similar to Snake and Ladders, but with questions, would
        involve players advancing by answering trivia or challenge questions
        correctly.
      </p>
      <p>
        Note: All the necessary materials for events will be provided by the
        team
      </p>
    </div>
    <Image
      slot="imgComponent"
      src={aquashellSrc}
      alt="BIOVIZTA'2K24 AQUASHELLA SURFERS event logo"
      class="rounded-lg"
      width={300}
      quality={100}
      densities={[1, 1.5, 2, 3, 4]}
    />
  </EventCard>
  <EventCard title="EPICUREAN ENGINEERS" client:load>
    <div slot="description">
      <p>
        Join us on the flavor revolution, The food technology symposium is an
        eventual experience for anyone passionate and curious about the future
        of food. Come delve with us in the new world of advanced level of food
        techniques and modern biotechnology. Let's charge the event with more
        excitement and laughter where food meets fun and science meets delight
        <ul>
          <li>sustainable food products</li>
          <li>
            innovative food products and models
            <ol>
              <li>molecular gastronomy</li>
              <li>lab grown meat</li>
            </ol>
          </li>
          <li>epicureans is all about people who crave for food</li>
          <li>food = emotion ✨</li>
        </ul>
        *so we eagerly waiting for all the epicureans to join our event ( epicurean
        engineers )
      </p>
      <div class="text-center font-semibold py-3">
        Round 1: Culinary Code Breaker
      </div>
      <p>
        Culinary Code Breaker is an engaging and interactive game designed to
        explore the intersection of food technology and problem-solving.
        Participants are tasked with decoding a series of culinary challenges
        and scientific puzzles, using clues related to food science, technology,
        and innovation.
      </p>

      <div class="text-center font-semibold py-3">Round 2: Biobite Battles</div>
      <p>
        Biobite Battles is a futuristic food-fighting game where players control
        genetically engineered food creatures that battle it out in a high-tech
        arena. Using their unique abilities and special attacks, players must
        strategize and outmaneuver their opponents to claim victory.
      </p>

      <div class="text-center font-semibold py-3">Round 3: Panic Pantry</div>
      <p>
        Panic Pantry is a fast-paced, heart-pounding game where players race
        against the clock to gather essential supplies in a chaotic, post-
        apocalyptic pantry. Can you survive the pantry pandemonium? You’ll be
        presented with a series of clever hints—each one offering a piece of the
        puzzle that leads to discovering the identity of a specific food or name
        of fruit.
      </p>
    </div>
    <Image
      slot="imgComponent"
      src={epicureanSrc}
      alt="BIOVIZTA'2K24 EPICUREAN ENGINEERS event logo"
      class="rounded-lg"
      width={300}
      quality={100}
      densities={[1, 1.5, 2, 3, 4]}
    />
  </EventCard>
</div>
